$gray: #1f1f1f;
$dark-gray: #4a4a4a;
$dark-sky-blue: #2da9dc;
$dark-sky-blue-opacity-1:transparentize($dark-sky-blue,.2);
$twilight-blue: #0f4c97;
$twilight-blue-opacity-1: transparentize($twilight-blue, .2);
$twilight-blue-opacity-2: transparentize($twilight-blue, .8);
// $twilight-blue-transparent: ;
$dark-blue: #006ac3;
$footer-blue: #001f35;
$grayish-brown: #3f3f3f;
$gray: #686868;
$light-gray: #8d8d8d;
$lighter-gray: #c6c6c6;
$seperator-gray: #ededed;
$border: #9b9b9b;
$yellow: #fece00;
$white: #fff;
$white-opacity-1: transparentize($white,.2);
$white-opacity-2: transparentize($white,.8);

