@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';
// .side-bar-menu-container {
//     display: none;
// }
    .side-bar-menu-container {
        display: flex;
        position: fixed;
        height: 100vh;
        width: 50vw;
        top: 50px;
        left: -50vw;
        transition: all 1.5s ease;
        background: rgba(255,255,255,.9);
        z-index: 6;
        flex-direction: column;
        color:$twilight-blue;
        font-family: ProximaNova-Regular,sans-serif;
        font-size: 4vw;
        .sidebar_title_container {
            width: 100%;
            display: flex;
            align-self: flex-start; 
            padding: 4vw 7vw; 
            align-items: center;
            background-color: $twilight-blue-opacity-1;
            .sidebar_menu_button {
                @include init-button;
                display: flex;
                align-items: center;
                .sidebar_menu_title {
                    font-size: 5vw;
                    padding-left: 2vw;
                    font-family: ProximaNova-Light,sans-serif;
                    color: $white;
                }
                svg {
                    color:$white;
                }     
            }

        }
        
        &.openSideBar {
            left: 0;
            box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
            transition: all 1.5s ease;
        }
        .sidebarList_company {
            list-style: none;
            padding-top: 2vw;
            padding-left: 8vw;
            .sidebarList_company_item {
                padding-top: 8vw;
            }
        }
        .sideBar_devider {
            width:30vw;
            height: 1px;
            border-top: 1px solid $twilight-blue;
            margin: 8vw 8vw;
            margin-top: auto;
            opacity: .4;
        }
        .sidebarList_user {
            list-style: none;
            padding:0vw 8vw 20vw;
            display: flex;
            flex-direction: column;
            font-size: 3vw;
            font-family: ProximaNova-Light,sans-serif;

            .sidebarList_item {
                display: flex;
                padding-bottom: 8vw;
                .sidebarList_item_icon {
                    height: 3.5vw;
                    width: auto;
                    padding-right: 4vw;   
                }
            }
        }
    }

    @media only screen and (min-width: 769px){
        .side-bar-menu-container{
            display: none;
        }
    }

@media only screen and (min-width: 480px) and (max-width: 768px) and (orientation: portrait) {
    .side-bar-menu-container {
        width: 30vw;
        font-size: 2.5vw;
        .sidebar_title_container {
            padding: 2vw 7vw;
            .sidebar_menu_button {
                .sidebar_menu_title {
                    font-size: 2.5vw;
                    padding-left: 2vw;
                }     
            }
    
        }
        .sidebarList_company {
            padding-top: 2vw;
            padding-left: 8vw;
            .sidebarList_company_item {
                padding-top: 2vw;
            }
        }
        .sideBar_devider {
            width:15vw;
        }
        .sidebarList_user {
            font-size: 1.5vw;
            padding: 0 8vw 2vw;
            min-height: 20vh;
    
            .sidebarList_item {
                padding-bottom: 2vw;
                .sidebarList_item_icon {
                    height: 1.5vw;
                    padding-right: 1vw;  
                }
            }
        }
    } 
}


